html,
body {
 height: 100%;
 margin: 0;
 padding: 0;
}

.map-canvas {
  height: 100%;
}

.page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.main-ad-popup {
  position: fixed;
  top:0; bottom: 0;
  left: 0; right: 0;
  width: auto;
  height: 75%;
  margin: auto;
  z-index: 2;
  border-radius: 4px;
  cursor: pointer;
}

.main-ad-button {
  position: fixed;
  width: 180px;
  bottom: 35px;
  left: 0; right: 0;
  margin: auto;
  text-align: center;
  padding: 5px 10px 5px 10px;
  background-color: #0ED854;
  border-radius: 3px;
  color: white;
  font: 21pt bold helvetica, arial;
  z-index: 2;
  cursor: pointer;
}

.location-ad-enlarge {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 50%;
  max-width: 900px;
  margin: auto;
  z-index: 2;
  background-color: white;
}

.round-rock-logo {
  position: absolute;
  top: 0; left: 5px;
  height: 60px;
  margin: auto;
}

.box-shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7),
              0 12px 40px 0 rgba(0, 0, 0, 0.6);
}

.panel-hr {
  width: 90%;
}

.search-field {
  margin: auto;
  font: 14pt bold helvetica, arial;
  width: 100%;
  text-align: center;
}

.filter-container {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: white;
  padding: 0 0 5px 0;
}

.panel-filter-text {
  font: 14pt helvetica, arial;
  margin: 0;
}

.category-filter{
  display: inline-block;
  width: 15%;
  top: 0; left: 25%;
  text-align: center;
  margin: 10px auto;
}

.location-filter {
  display: inline-block;
  width: 15%;
  text-align: center;
  margin: 10px auto;
}

.poi-filter {
  display: inline-block;
  width: 15%;
  text-align: center;
  margin: auto;
  border-radius: 0 0 3px 3px;
  background-color: white;
}

.header-btn-container {
  position: absolute;
  right: 5px; top: 5px;
}

.hide-panels-btn {
  text-align: center;
  padding: 5px 0;
  background-color: #EF3011;
  border-radius: 3px;
  color: white;
  font: 14pt bold helvetica, arial;
  margin: 0 0 5px 0;
  width: 125px;
  cursor: pointer;
}

.top-pane {
  position: absolute;
  left: 0; top: 50px;
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  text-align: center;
  padding-bottom: 3px;
}

.directions-pane {
  position: fixed;
  left: 0; top: 0; bottom: 0;
  margin: auto;
  height: 50%;
  width: 300px;
  background-color: white;
  text-align: center;
  overflow-y: auto;
  border-radius: 0 3px 3px 0;
  padding: 5px 10px 0 10px;
}

.bottom-pane-biz {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 100%;
  height: 200px;
  max-height: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.bottom-pane-POI {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 50%;
  max-width: 900px;
  max-height: 200px;
  height: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.location-ad {
  height: 100%;
  width: 25%;
  max-width: 400px;
  background-color: white;
  margin-left: auto;
  order: 2;
}

.logo-container {
  width: 25%;
  max-width: 400px;
  height: 100%;
  margin-right: auto;
  text-align: center;
}

.location-logo {
  height: 100%;
  max-width: 100%;
}

.location-info {
  height: 100%;
  text-align: center;
  margin: auto;
}

.location-info-text-title {
  font: 22pt impact, arial black;
  color: #21497E;
  background-color: white;
  margin: auto;
  text-align: center;
  border-radius: 0 0 3px 3px;
  padding: 0 10px 0 10px;
}

.location-info-text-address {
  font: bold 17pt helvetica, arial;
  color: white;
  margin: 20px auto 10px auto;
}

.location-info-text-phone {
  font: bold 17pt helvetica, arial;
  color: white;
  margin: auto;
}

.location-website-btn {
  display: inline-block;
  font: 18pt helvetica, arial;
  background-color: #AF3C27;
  color: white;
  width: 160px;
  padding: 5px 0 5px 0;
  margin: 25px 3px auto auto;
  border-radius: 3px;
  cursor: pointer;
}

.location-zoom-btn {
  display: inline-block;
  font: 18pt helvetica, arial;
  color: #A8402D;
  background-color: white;
  width: 160px;
  padding: 4px 0 4px 0;
  margin: 25px 3px auto 3px;
  border-radius: 3px;
  cursor: pointer;
}

.directions-btn {
  display: inline-block;
  font: 18pt helvetica, arial;
  color: white;
  background-color: #21497E;
  width: 160px;
  padding: 5px 0 5px 0;
  margin: 25px auto auto 3px;
  border-radius: 3px;
  cursor: pointer;
}

.panel-list {
  list-style: none;
  padding: 0;
  font: 11pt helvetica, arial;
}

.panel-list-item {
  display: inline-block;
  margin: 5px;
  font: bold 9pt helvetica, arial;
  text-align: center;
  cursor: pointer;
  padding: 3px 7px;
  background: white;
  color: black;
  border-radius: 2px;

}

.panel-list-item:hover {
  color: white;
  background-color: #AF3C27;
}

@media screen and (max-width: 1450px) {
  .bottom-pane-biz {
    height: 175px;
  }

  .bottom-pane-POI {
    height: 175px;
  }

  .location-info-text-title {
    font: 18pt impact, arial black;
  }

  .location-info-text-address {
    font: bold 14pt helvetica, arial;
  }

  .location-info-text-phone {
    font: bold 14pt helvetica, arial;
  }

  .location-website-btn {
    font: 14pt helvetica, arial;
    width: 130px;
  }

  .location-zoom-btn {
    font: 14pt helvetica, arial;
    width: 130px;
  }

  .directions-btn {
    font: 14pt helvetica, arial;
    width: 130px;
  }
}

@media screen and (max-width: 1300px) {
  .location-info-text-title {
    font: 16pt impact, arial black;
  }

  .location-info-text-address {
    font: bold 11pt helvetica, arial;
  }

  .location-info-text-phone {
    font: bold 11pt helvetica, arial;
  }

  .location-website-btn {
    font: 12pt helvetica, arial;
    width: 120px;
  }

  .location-zoom-btn {
    font: 12pt helvetica, arial;
    width: 120px;
  }

  .directions-btn {
    font: 12pt helvetica, arial;
    width: 120px;
  }
}

@media screen and (max-width: 1050px) {
  .location-info-text-title {
    font: 14pt bold impact, arial black;
  }

  .location-info-text-address {
    font: bold 9pt helvetica, arial;
  }

  .location-info-text-phone {
    font: bold 9pt helvetica, arial;
  }
}

@media screen and (max-width: 890px) {
  .round-rock-logo {
    height: 40px;
    top: 5px;
  }

  .directions-pane {
    width: 200px;
  }

  .search-field {
    margin: auto;
    font: 10pt helvetica, arial;
    width: 100%;
    text-align: center;
  }

  .location-info-text-title {
    font: bold 10pt helvetica, arial;
  }

  .location-info-text-address {
    margin: 5px auto 5px auto;
  }

  .location-website-btn {
    font: 12pt bold helvetica, arial;
    width: 120px;
    margin: 10px 3px auto auto;
  }

  .location-zoom-btn {
    font: 12pt bold helvetica, arial;
    width: 120px;
    margin: 10px 3px auto 3px;
  }

  .directions-btn {
    font: 12pt bold helvetica, arial;
    width: 120px;
    margin: 10px auto auto 3px;
  }

  .bottom-pane-biz {
    height: 125px;
  }

  .bottom-pane-POI {
    height: 125px;
  }

  .logo-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .location-ad-enlarge {
    width: 100%;
  }

  .directions-pane {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    height: 200px;
    width: 100%;
    border-radius: 0;
    padding: 5px 10px 0 10px;
    font-size: 14pt;
  }

  .filter-container {
    display: flex;
  }

  .main-ad-popup {
    height: auto;
    width: 100%
  }

  .round-rock-logo {
    display: none;
    height: 40px;
    top: 5px;
  }

  .location-ad {
    position: absolute;
    bottom: 125px; right: 0; left: 0;
    height: 125px;
    width: auto;
    margin: auto;
    order: 0;
  }

  .category-filter{
    float: left;
    width: 26%;
    top: 0; left: 25%;
    text-align: center;
    margin: 12px 5px auto auto;
  }

  .location-filter {
    float: left;
    width: 26%;
    text-align: center;
    margin: 12px auto;
  }

  .poi-filter {
    float: left;
    width: 26%;
    text-align: center;
    margin: 12px auto auto 5px;
    border-radius: 0 0 3px 3px;
    background-color: white;
  }
}

@media screen and (max-width: 415px) {
  .directions-pane {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    height: 165px;
    width: 100%;
    border-radius: 0;
    padding: 5px 10px 0 10px;
    font-size: 10pt;
  }

  .bottom-pane-POI {
    height: 125px;
    width: 100%;
  }

  .bottom-pane-biz {
    height: 125px;
  }

  .location-info-text-title {
    font: bold 12pt helvetica, arial;
  }

  .location-info-text-address {
    font: bold 9pt helvetica, arial;
    margin-top: 10px;
  }

  .location-info-text-phone {
    font: bold 9pt helvetica, arial;
    margin-bottom: 10px;
  }

  .location-website-btn {
    font: 12pt helvetica, arial;
    width: 110px;
  }

  .location-zoom-btn {
    font: 12pt helvetica, arial;
    width: 110px;
  }

  .directions-btn {
    font: 12pt helvetica, arial;
    width: 110px;
  }

  .location-ad {
    height: 100px;
  }

  .search-field {
    margin: auto;
    font: 6pt bold helvetica, arial;
    width: 100%;
    text-align: center;
  }

  .category-filter{
    width: 33%;
    top: 0; left: 25%;
    text-align: center;
    margin: 12px auto auto auto;
  }

  .location-filter {
    width: 33%;
    text-align: center;
    margin: 12px auto;
  }

  .poi-filter {
    width: 33%%;
    text-align: center;
    margin: 12px auto auto auto;
    border-radius: 0 0 3px 3px;
    background-color: white;
  }
}
