body,
html  {
  height: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
    list-style-type: none;
}

.background-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.type-container {
  text-align: center;
  height: 100px;
  width: 95%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
}

.type-text {
	display: inline;
  vertical-align: middle;
  padding: 10px;
	color: black;
	letter-spacing: 2px;
  font: bold 42pt monospace;
  margin: auto;
}

.type-cursor {
	display: inline-block;
  vertical-align: middle;
	width: 15px;
	height: 80%;
	background-color: red;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: red;
	}
}

.nav-bar {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 7px;
}

.logo {
  width: 55px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.slogan {
  width: 140px;
  position: absolute;
  left: 75px;
  top: 8px
}

.slogan-mobile {
  display: none;
  position: absolute;
  bottom: 5px; left: 0; right: 0;
  width: 200px;
  margin: auto;
}

.nav-link {
  margin: auto;
  padding: 0 30px 0 0;
  font: bold 14pt helvetica, arial;
}

.nav-link-selected {
  margin: auto;
  padding: 0 30px 0 0;
  font: bold 14pt helvetica, arial;
  color: red;
}

.nav-link:hover {
  color: red;
}

.social-link-1 {
  margin: 0 0 0 5px;
  height: 30px;
}

.social-link-2 {
  margin: 0 0 0 5px;
  height: 31px;
}

.page-title {
  margin: 0;
  font-family: helvetica, arial;
}

.work-selector-container {
  display: inline-flex;
  width: 700px;
  margin: 85px 0 0 0;
  text-align: center;
}

.selector {
  margin: auto;
  font-family: helvetica, arial;
  padding: 0 0 5px 0;
  border-bottom: 5px solid white;
  cursor: pointer;
}

.underlined-selector {
  margin: auto;
  font-family: helvetica, arial;
  padding: 0 0 5px 0;
  border-bottom: 5px solid red;
  cursor: pointer;
}

.work-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 90px 0 0 0;
}

.work-img-btn-container {
  width: 40%;
  height: auto;
  text-align: center;
  margin: auto;
}

.work-img-container {
  width: 100%;
  height: auto;
  background-color: #FAFCFC;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
  padding: 5px;
}

.view-project-btn-GH {
  margin: 20px auto;
  font: 12pt bolder helvetica, arial;
  padding: 10px;
  border-radius: 3px;
  background-color: orange;
  color: white;
  width: 200px;
}

.view-project-btn-LIVE {
  margin: 20px auto;
  font: 12pt bolder helvetica, arial;
  padding: 10px;
  border-radius: 3px;
  background-color: #19C703;
  color: white;
  width: 200px;
}

.element-break {
  background-color: gray;
  width: 1px;
  height: 300px;
  margin: auto;
}

.work-img {
  display: block;
  margin: 10px auto;
  width: 95%;
  height: 95%;
  border-radius: 4px;
}

.work-description-container {
  display: block;
  width: 40%;
  margin: auto;
  text-align: center;
}

.work-description-title {
  margin: auto;
  font: bold 25pt helvetica, arial;
}

.language-img {
  width: auto;
  height: 50px;
  margin: auto 10px;
}

.work-description-text {
  margin: 50px auto;
  font: 16pt helvetica, arial;
  text-align: justify;
}

.story-container {
  display: flex;
  margin: 125px 0 0 auto;
  justify-content: space-around;
}

.story-text-container {
  width: 40%;
  margin: auto;
  text-align: justify;
}

.quote-text {
  font: italic 22pt Georgia, serif;
  width: 100%;
  marign-bottom: 30px;
  text-align: center;
}

.story-text {
  font: 16pt helvetica, arial;
  margin: 30px auto;
}

.story-img-container {
  width: 40%;
  margin: auto;
}

.story-img {
  width: 90%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.70),
              0 15px 25px 0 rgba(242, 25, 25, 0.77);
}

.udacity-img {
  width: 10%;
}

.skill-set-container {
  width: 100%;
  height: auto;
  margin: 140px auto;
}

.skill-set-title {
  margin: 20px auto;
  font: bold 25pt helvetica, arial;
}

.skill-set-text {
  display: block;
  width: 60%;
  margin: auto;
  text-align: center;
  font: 16pt helvetica, arial;
  text-align: justify;
}

.element-break-horizontal {
  background-color: gray;
  height: 1px;
  width: 50%;
  margin: 40px auto;
}

.languages-container {
  width: 60%;
  margin: auto;
}

.language-img-large {
  width: auto;
  height: 75px;
  margin: 20px 20px;
}

.connect-container {
  display: flex;
  width: 70%;
  margin: 250px auto;
  justify-content: space-around;
}

.information-container {
  width: auto;
}

.info-box-header {
  display: inline-block;
  font: 69pt bold helvetica, arial;
  padding: 0 0 20px 0;
  height: 80px;
  border-bottom: 15px solid red;
  margin: auto;
}

.info-box-data {
  margin: 50px 0 0 auto;
  font: 30pt helvetica, arial;
  font-weight: 900;
}

.contact-options-container {
  margin: 0 50px auto;
}

.linkedin-img {
  width: 300px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.email-img {
  display: inline-block;
  margin: 25px 0 0 0;
  width: 60px;
  color: #028CC9;
  border: 1px solid #028CC9;
  border-radius: 2px;
  padding: 5px 10px;
  font-family: helvetica, arial;
  font-weight: bolder;
}

.phone-img {
  display: inline-block;
  margin: 25px 0 0 0;
  width: 60px;
  text-align: center;
  color: #028CC9;
  border: 1px solid #028CC9;
  padding: 5px 10px;
  border-radius: 2px;
  font-family: helvetica, arial;
  font-weight: bold;
}

.email-img:hover,
.phone-img:hover {
  cursor: pointer;
  background-color: #028CC9;
  color: white;
}

.blog-thumbnail-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin: 100px auto auto auto;
}

.blog-thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-width: 250px;
  max-height: 300px;
  min-height: 300px;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
  border: 1px solid black
}

.blog-thumbnail-img {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
}

.blog-thumbnail-header {
  position: absolute;
  top: 5px;
  width: 100%;
  padding: 0 5px 0 5px;
  font: bold 12pt helvetica, arial;
  margin: auto;
}

.blog-thumbnail-date {
  font: 12pt georgia;
  margin: auto;
  position: absolute;
  bottom: 10px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 125px auto 15px auto;
}

.blog-title {
  font: bold 48pt helvetica, arial;
  color: red;
  margin: auto;
}

.blog-subtitle {
  font: bold 28pt georgia, arial;
  margin: auto;
  margin-top: 15px;
}

.blog-details-wrapper {
  display: inline-flex;
  align-items: center;
  margin: 50px auto 20px auto;
  justify-content: space-around;
  width: 100%;
}

.blog-author-info-wrapper {
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin: auto;
}

.blog-author-img-name-wrapper {
  align-self: flex-start;
  display: inline-block;
  text-align: left;
  margin: auto;
  margin-left: 10px;
}

.blog-date-cat-wrapper {
  display: block;
  margin: 0 0 20px 0;
  margin: auto;
}

.blog-post-pub-cat-hr {

}

.blog-author-img {
  width: 100px;
  border-radius: 50%;
  border: 1px solid red;
}

.blog-author-name {
  font: bold italic 14pt times, georgia;
  margin: 10px 0 0 0;
  margin-bottom: 15px;
}

.blog-author-description {
  position: relative;
  bottom: 20px;
  display: inline-block;
  font: italic 14pt times, georgia;
  margin: 10px 0 0 0;
}

.social-btn-wrapper {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 30px;
}

.email-share-btn {
  display: flex;
  text-align: center;
  height: 18px;
  width: 60px;
  background-color: white;
  border: 1px solid #1E7798;
  border-radius: 3px;
}

.email-share-btn-img {
  position: relative;
  top: 1px; left: 1px;
  width: 16px;
  height: 89%;
}

.email-share-btn-text {
  position: relative;
  bottom: 3px;
  left: 3px;
  display: inline;
  font: bold 9pt helvetica,arial;
  color: #1E7798;
}

.blog-main-img {
  width: 100%;
  align-self: center;
  margin-bottom: 75px;
  border-radius: 5px;
}

.blog-img {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.blog-body-header {
  font: bold 20pt helvetica, arial;
  margin: 35px 0 5px 0;
  color: #696868;
  align-self: flex-start;
}

.blog-body {
  font: 14pt georgia, arial;
  margin: auto;
  color: #696868;
  text-align: justify;
}

.blog-date-cat {
  display: block;
  font: italic 14pt times, georgia;
  margin: 0 20px 0 20px;
}

.blog-hr {
  width: 100%;
  margin: 50px auto auto auto;
}

.add-blog-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 75px;
}

.add-blog-post-input-wrapper {
  margin: 20px auto 100px auto;
}

.add-blog-post-title {
  font-family: helvetica, arial;
  margin: 15px auto;
}

.add-blog-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.add-blog-input {
  width: 40%;
  font: 14pt helvetica, arial;
}

.add-blog-input-header {
  width: 80%;
  font: 14pt helvetica, arial;
}

.add-blog-input-body {
  width: 80%;
  height: 75px;
  font: 14pt helvetica, arial;
  margin: 5px auto 10px auto;
}

.add-blog-submit-btn {
  position: fixed;
  bottom: 0; right: 0;
  display: block;
  padding: 5px 0;
  color: white;
  background-color: #38C431;
  font: bold 20pt helvetica, arial;
  margin: auto;
  border-radius: 5px 0 0 0;
  border: 0;
  cursor: pointer;
  width: 150px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.add-blog-cancel-btn {
  position: fixed;
  bottom: 0; left: 0;
  display: inline-block;
  padding: 5px 0;
  color: white;
  background-color: red;
  font: bold 20pt helvetica, arial;
  margin: auto;
  border-radius: 0 5px 0 0;
  border: 0;
  cursor: pointer;
  width: 150px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}


.add-new-blog-post-btn {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  display: inline-block;
  width: 250px;
  padding: 10px 10px;
  color: white;
  background-color: #38C431;
  font: bold 20pt helvetica, arial;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin: auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.blog-post-edit-btn {
  position: fixed;
  bottom: 0; left: 0;
  display: inline-block;
  width: 150px;
  padding: 5px 0;
  color: white;
  background-color: black;
  font: bold 20pt helvetica, arial;
  margin: auto;
  border-radius: 0 5px 0 0;
  border: 0;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.blog-post-delete-btn {
  position: fixed;
  bottom: 0; right: 0;
  display: inline-block;
  padding: 5px 0;
  color: white;
  background-color: red;
  font: bold 20pt helvetica, arial;
  margin: auto;
  border-radius: 5px 0 0 0;
  border: 0;
  cursor: pointer;
  width: 150px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.delete-blog-post-header {
  font: bold 28pt helvetica, arial;
  color: red;
  margin: 20% 50px auto 50px;
  text-align: center;
}

.del-blog-submit-btn {
  padding: 5px 10px;
  color: white;
  background-color: red;
  font: bold 20pt helvetica, arial;
  margin: 25px 0 0 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 150px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.del-blog-cancel-btn {
  display: inline-block;
  padding: 5px 0;
  color: white;
  background-color: black;
  font: bold 20pt helvetica, arial;
  margin: 25px 15px 0 0;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 150px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.cancel-delete-blog-btn {
    background-color: #38C431;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font: bold 14pt helvetica, arial;
    cursor: pointer;
}

.delete-blog-btn {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font: bold 14pt helvetica, arial;
  cursor: pointer;
}

.blog-footer {
  height: auto;
  width: 800px;
  background-color: #F7F7F7;
  margin: 75px auto 50px auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: 1px solid red;
}

.blog-footer-content {
  display: flex;
  padding: 20px;
}

.blog-footer-author-img {
  height: 250px;
  border-radius: 50%;
  margin: auto;
}

.blog-footer-author-description {
  font: italic 14pt georgia, arial;
  align-self: center;
  width: 55%;
  margin: auto;
}

.blog-foooter-connect-link {
  color: red;
}

.page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.flash {
  display: none;
  position: fixed;
  top: 0; left: 0;
  z-index: 99;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: auto;
  font: bold 18pt helvetica, arial;
  color: white;
  background-color: rgba(242,25,25,0.8);
  text-align: center;
}






@media screen and (max-width: 1024px) {
  .background-img {
    left: 50%;
    margin-left: -512px;
  }

  .connect-container {
    width: 75%;
  }

  .skill-set-text {
    width: 90%;
  }

  .element-break-horizontal {
    width: 75%;
  }

  .languages-container {
    width: 90%;
  }

  .language-img-large {
    height: 60px;
  }
}

@media screen and (max-width: 1619px) {
  .language-img {
    height: 35px;
  }
}

@media screen and (max-width: 1530px) {
  .work-description-title {
    font: bold 20pt helvetica, arial;
  }

  .work-description-text {
    margin: 40px auto;
    font: 14pt helvetica, arial;
  }

  .quote-text {
    font: italic 20pt Georgia, serif;
  }

  .story-text {
    font: 14pt helvetica, arial;
  }

  .story-img {
    width: 80%;
  }

}

@media screen and (max-width: 1300px) {
  .story-img {
    width: 100%;
  }

  .connect-container {
    width: 100%;
  }
}

@media screen and (max-width: 1180px) {
  .work-container {
    display: block;
    margin: 90px 0 0 0;
  }

  .work-img-btn-container {
    width: 60%;
    padding: 8px 0 8px 0;
  }

  .work-img-container {
    margin: auto;
  }

  .element-break {
    width: 0px;
    height: 0px;
  }

  .work-description-container {
    display: block;
    width: 80%;
    margin: auto;
    padding: 50px 0 40px 0;
    text-align: center;
  }

  .story-container {
    display: block;
    width: 75%;
    text-align: center;
    margin: 120px auto 0 auto;
  }

  .story-text-container {
    width: 80%;
  }

  .story-text {
    font: 14pt helvetica, arial;
  }

  .story-img-container {
    width: 75%;
    margin: auto;
  }

  .story-img {
    width: 70%;
  }

  .connect-container {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .work-img-btn-container {
    width: 80%;
  }

  .contact-options-container {
    margin: 0 10px auto;
  }
}

@media screen and (max-width: 860px) {
  .slogan {
    display: none;
  }

  .slogan-mobile {
    display: block;
  }

  .quote-text {
    width: 100%;
  }

  .connect-container {
    display: block;
    width: 100%;
    margin: 100px auto;
    justify-content: none;
  }

  .info-box-data {
    margin: 50px auto;
    font: 30pt helvetica, arial;
    font-weight: 700;
  }

  .contact-options-container {
    margin: auto;
  }

  .linkedin-img {
    margin: auto;
    width: 300px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
                0 5px 15px 0 rgba(0, 0, 0, 0.47);
  }

  .skill-set-title {
    font: bold 20pt helvetica, arial;
  }

  .skill-set-text {
    font: 14pt helvetica, arial;
  }

  .language-img-large {
    height: 40px;
  }
}

@media screen and (max-width: 759px) {
  .work-selector-container {
    width: 90%;
  }

  .view-project-btn-GH {
    margin: 15px auto;
    font: 10pt bolder helvetica, arial;
    width: 150px;
  }

  .view-project-btn-LIVE {
    margin: 15px auto;
    font: 10pt bolder helvetica, arial;
    width: 150px;
  }

  .slogan {
    width: 75px;
    left: 50px;
    top: 13px;
  }

  .logo {
    width: 40px;
  }

  .type-container {
    text-align: center;
    height: 100px;
    width: 95%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .type-text {
  	display: inline;
    vertical-align: middle;
    padding: 10px;
  	color: black;
  	letter-spacing: 2px;
    font: bold 32pt monospace;
    margin: auto;
  }

  .type-cursor {
  	display: inline-block;
    vertical-align: middle;
  	width: 15px;
  	height: 50%;
  	background-color: orange;
  	animation: blink .75s step-end infinite;
  }

  .connect-container {
    width: 90%;
  }

  .info-box-header {
    display: inline-block;
    font: 40pt bold helvetica, arial;
    padding: 0 0 20px 0;
    height: 45px;
    border-bottom: 8px solid red;
    margin: auto;
  }

  .info-box-data {
    margin: 50px auto;
    font: 20pt helvetica, arial;
    font-weight: 700;
  }

  .udacity-img {
    width: 20%;
  }

  .story-img {
    width: 90%;
  }
}

@media screen and (max-width: 657px) {
  .nav-bar {
    top: 4px;
    right: 3px;
  }

  .logo {
    width: 30px;
    top: 3px;
    left: 3px;
  }

  .slogan {
    top: 4px;
    left: 35px;
  }

  .nav-link {
    padding: 0 8px 0 0;
    font: bold 9pt helvetica, arial;
  }

  .social-link-1 {
    margin: 2px 0 0 3px;
    height: 20px;
  }

  .social-link-2 {
    margin: 2px 0 0 3px;
    height: 21px;
  }

  .work-selector-container {
    width: 100%;
  }

  .selector {
    font-size: 12pt;
  }

  .language-img {
    width: auto;
    height: 29px;
    margin: auto 3px;
  }
}

@media screen and (max-width: 480px) {

  .work-container {
    margin: 45px 0 0 0;
  }

  .work-selector-container {
    margin: 50px auto;
  }

  .selector {
    font-size: 10pt;
  }

  .work-img-btn-container {
  padding: 1px 0 1px 0;
}

  .work-description-title {
    font: bold 18pt helvetica, arial;
    margin: auto;
  }

  .work-description-text {
    margin: 25px auto;
    font: 12pt helvetica, arial;
  }

  .language-img {
    width: auto;
    height: 21px;
    margin: auto 3px;
  }

  .story-container {
    width: 85%;
    margin: 70px auto 0 auto;
  }

  .quote-text {
    font: italic 16pt Georgia, serif;
  }

  .story-text-container {
    width: 80%;
  }

  .story-text {
    font: 12pt helvetica, arial;
  }

  .story-img {
    width: 100%;
  }

  .work-selector-container {
    margin: 60px 0 0 0;
  }

  .skill-set-container {
    margin: 80px auto;
  }

  .skill-set-title {
    margin: 20px auto;
    font: bold 18pt helvetica, arial;
  }

  .connect-container {
    width: 100%;
    margin: 85px auto;
  }

  .linkedin-img {
    width: 250px;
  }
}

@media screen and (max-width: 415px) {

  .type-text {
    font: bold 26pt monospace;
  }

  .type-cursor {
    width: 11px;
    height: 40%;
  }

  .info-box-data {
    font: 17pt helvetica, arial;
    font-weight: 700;
  }

  .work-selector-container {
    margin: 60px 0 0 0;
  }

  .skill-set-container {
    width: 90%;
    margin: 80px auto;
  }

  .skill-set-text {
    width: 98%;
    font: 14pt helvetica, arial;
    text-align: justify;
  }

  .element-break-horizontal {
    background-color: gray;
    height: 1px;
    width: 75%;
    margin: 30px auto;
  }

  .languages-container {
    width: 98%;
    margin: auto;
  }

  .language-img-large {
    height: 40px;
    margin: 10px 10px;
  }

  .type-container {
    top: 25%;
  }
}

@media screen and (max-width: 325px) {
  .nav-link {
    font: 8pt helvetica, arial;
  }

  .type-text {
    font: bold 22pt monospace;
  }

  .type-cursor {
    width: 9px;
    height: 35%;
  }
}
