body,
html  {
  height: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-bar {
  display: inline-flex;
  position: absolute;
  top: 7px;
  right: 7px;
}

.logo {
  width: 45px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.nav-link {
  margin: auto;
  padding: 0 30px 0 0;
  font: 14pt helvetica, arial;
}

.social-link-1 {
  margin: 0 0 0 5px;
  height: 30px;
}

.social-link-2 {
  margin: 0 0 0 5px;
  height: 31px;
}

.page-title {
  margin: 0;
  font-family: helvetica, arial;
}

.work-selector-container {
  display: inline-flex;
  width: 700px;
  margin: 85px 0 0 0;
  text-align: center;
}

.selector {
  margin: auto;
  font-family: helvetica, arial;
  padding: 0 0 5px 0;
  border-bottom: 5px solid white;
  cursor: pointer;
}

.underlined-selector {
  margin: auto;
  font-family: helvetica, arial;
  padding: 0 0 5px 0;
  border-bottom: 5px solid red;
  cursor: pointer;
}

.work-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 90px 0 0 0;
}

.work-img-container {
  width: 40%;
  height: auto;
  background-color: #FAFCFC;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
  text-align: center;
  margin: auto;
}

.element-break {
  background-color: gray;
  width: 1px;
  height: 300px;
  margin: auto;
}

.work-img {
  display: block;
  margin: 10px auto;
  width: 95%;
  height: 95%;
  border-radius: 4px;
}

.work-description-container {
  display: block;
  width: 40%;
  margin: auto;
  text-align: center;
}

.work-description-title {
  margin: auto;
  font: bold 25pt helvetica, arial;
}

.language-img {
  width: auto;
  height: 50px;
  margin: auto 15px;
}

.work-description-text {
  margin: 50px auto;
  font: 16pt helvetica, arial;
  text-align: justify;
}

.story-container {
  display: flex;
  margin: 125px 0 0 auto;
  justify-content: space-around;
}

.story-text-container {
  width: 40%;
  margin: auto;
  text-align: justify;
}

.quote-text {
  font: italic 22pt Georgia, serif;
  width: 100%;
  marign-bottom: 30px;
  text-align: center;
}

.story-text {
  font: 16pt helvetica, arial;
  margin: 30px auto;
}

.story-img-container {
  width: 40%;
  margin: auto;
}

.story-img {
  width: 90%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.udacity-img {
  width: 10%;
}

.skill-set-container {
  width: 100%;
  height: auto;
  margin: 140px auto;
}

.skill-set-title {
  margin: 20px auto;
  font: bold 25pt helvetica, arial;
}

.skill-set-text {
  display: block;
  width: 60%;
  margin: auto;
  text-align: center;
  font: 16pt helvetica, arial;
  text-align: justify;
}

.element-break-horizontal {
  background-color: gray;
  height: 1px;
  width: 50%;
  margin: 40px auto;
}

.languages-container {
  width: 60%;
  margin: auto;
}

.language-img-large {
  width: auto;
  height: 75px;
  margin: 20px 20px;
}

.connect-container {
  display: flex;
  width: 70%;
  margin: 250px auto;
  justify-content: space-around;
}

.information-container {
  width: auto;
}

.info-box-header {
  display: inline-block;
  font: 69pt bold helvetica, arial;
  padding: 0 0 20px 0;
  height: 80px;
  border-bottom: 15px solid red;
  margin: auto;
}

.info-box-data {
  margin: 50px 0 0 auto;
  font: 30pt helvetica, arial;
  font-weight: 900;
}

.contact-options-container {
  margin: 0 50px auto;
}

.linkedin-img {
  width: 300px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
              0 5px 15px 0 rgba(0, 0, 0, 0.47);
}

.email-img {
  display: inline-block;
  margin: 25px 0 0 0;
  width: 60px;
  color: #028CC9;
  border: 1px solid #028CC9;
  border-radius: 2px;
  padding: 5px 10px;
  font-family: helvetica, arial;
  font-weight: bolder;
}

.phone-img {
  display: inline-block;
  margin: 25px 0 0 0;
  width: 60px;
  text-align: center;
  color: #028CC9;
  border: 1px solid #028CC9;
  padding: 5px 10px;
  border-radius: 2px;
  font-family: helvetica, arial;
  font-weight: bold;
}

.email-img:hover,
.phone-img:hover {
  cursor: pointer;
  background-color: #028CC9;
  color: white;
}

@media screen and (max-width: 1024px) {
  .background-img {
    left: 50%;
    margin-left: -512px;
  }

  .connect-container {
    width: 75%;
  }

  .skill-set-text {
    width: 90%;
  }

  .element-break-horizontal {
    width: 75%;
  }

  .languages-container {
    width: 90%;
  }

  .language-img-large {
    height: 60px;
  }
}

@media screen and (max-width: 1530px) {
  .work-description-title {
    font: bold 20pt helvetica, arial;
  }

  .language-img {
    height: 35px;
  }

  .work-description-text {
    margin: 40px auto;
    font: 14pt helvetica, arial;
  }

  .quote-text {
    font: italic 20pt Georgia, serif;
  }

  .story-text {
    font: 14pt helvetica, arial;
  }

  .story-img {
    width: 80%;
  }

}

@media screen and (max-width: 1300px) {
  .story-img {
    width: 100%;
  }

  .connect-container {
    width: 100%;
  }
}

@media screen and (max-width: 1180px) {
  .work-container {
    display: block;
    margin: 90px 0 0 0;
  }

  .work-img-container {
    width: 60%;
    padding: 8px 0 8px 0;
  }

  .element-break {
    width: 0px;
    height: 0px;
  }

  .work-description-container {
    display: block;
    width: 80%;
    margin: auto;
    padding: 50px 0 40px 0;
    text-align: center;
  }

  .story-container {
    display: block;
    width: 75%;
    text-align: center;
    margin: 120px auto 0 auto;
  }

  .story-text-container {
    width: 80%;
  }

  .story-text {
    font: 14pt helvetica, arial;
  }

  .story-img-container {
    width: 75%;
    margin: auto;
  }

  .story-img {
    width: 70%;
  }

  .connect-container {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .work-img-container {
    width: 80%;
  }

  .contact-options-container {
    margin: 0 10px auto;
  }
}

@media screen and (max-width: 860px) {
  .quote-text {
    width: 100%;
  }

  .connect-container {
    display: block;
    width: 100%;
    margin: 100px auto;
    justify-content: none;
  }

  .info-box-data {
    margin: 50px auto;
    font: 30pt helvetica, arial;
    font-weight: 700;
  }

  .contact-options-container {
    margin: auto;
  }

  .linkedin-img {
    margin: auto;
    width: 300px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.50),
                0 5px 15px 0 rgba(0, 0, 0, 0.47);
  }

  .skill-set-title {
    font: bold 20pt helvetica, arial;
  }

  .skill-set-text {
    font: 14pt helvetica, arial;
  }

  .language-img-large {
    height: 40px;
  }
}

@media screen and (max-width: 706px) {
  .work-selector-container {
    width: 90%;
  }

  .connect-container {
    width: 90%;
  }

  .info-box-header {
    display: inline-block;
    font: 40pt bold helvetica, arial;
    padding: 0 0 20px 0;
    height: 45px;
    border-bottom: 8px solid red;
    margin: auto;
  }

  .info-box-data {
    margin: 50px auto;
    font: 20pt helvetica, arial;
    font-weight: 700;
  }

  .udacity-img {
    width: 20%;
  }

  .story-img {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    top: 4px;
    right: 3px;
  }

  .logo {
    width: 30px;
    top: 3px;
    left: 3px;
  }

  .nav-link {
    padding: 0 8px 0 0;
    font: 9pt helvetica, arial;
  }

  .social-link-1 {
    margin: 2px 0 0 3px;
    height: 20px;
  }

  .social-link-2 {
    margin: 2px 0 0 3px;
    height: 21px;
  }

  .work-selector-container {
    width: 100%;
  }

  .selector {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {

  .work-container {
    margin: 45px 0 0 0;
  }

  .work-selector-container {
    margin: 50px auto;
  }

  .selector {
    font-size: 10pt;
  }

  .work-img-container {
  padding: 1px 0 1px 0;
}

  .work-description-title {
    font: bold 18pt helvetica, arial;
    margin: auto;
  }

  .work-description-text {
    margin: 25px auto;
    font: 12pt helvetica, arial;
  }

  .language-img {
    width: auto;
    height: 21px;
    margin: auto 3px;
  }

  .story-container {
    width: 85%;
    margin: 70px auto 0 auto;
  }

  .quote-text {
    font: italic 16pt Georgia, serif;
  }

  .story-text-container {
    width: 80%;
  }

  .story-text {
    font: 12pt helvetica, arial;
  }

  .story-img {
    width: 100%;
  }

  .work-selector-container {
    margin: 60px 0 0 0;
  }

  .skill-set-container {
    margin: 80px auto;
  }

  .skill-set-title {
    margin: 20px auto;
    font: bold 18pt helvetica, arial;
  }

  .connect-container {
    width: 100%;
    margin: 100px auto;
  }

  .linkedin-img {
    width: 250px;
  }
}

@media screen and (max-width: 376px) {
  .info-box-data {
    font: 17pt helvetica, arial;
    font-weight: 700;
  }

  .work-selector-container {
    margin: 60px 0 0 0;
  }

  .skill-set-container {
    width: 90%;
    margin: 80px auto;
  }

  .skill-set-text {
    width: 98%;
    font: 14pt helvetica, arial;
    text-align: justify;
  }

  .element-break-horizontal {
    background-color: gray;
    height: 1px;
    width: 75%;
    margin: 30px auto;
  }

  .languages-container {
    width: 98%;
    margin: auto;
  }

  .language-img-large {
    height: 40px;
    margin: 10px 10px;
  }
}
