<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/cminc_css.css">
    <title>Round Rock Interactive Map</title>
  </head>
  <body>
    <div class="main-ad-button"
         data-bind="visible: showPremiumAd, click: launchMap">Launch Map</div>
    <img class='main-ad-popup'
         data-bind="visible: showPremiumAd, attr: {src: premiumAdSelection}">
    <div class="page-mask" data-bind="visible: showPremiumAd"></div>

    <div id="map" class="map-canvas"></div>
    <img class="grapevine-logo" src="static/img/RRTX_logo.png"
         data-bind="visible: togglePanels">

    <div class="filter-container box-shadow" data-bind="visible: togglePanels">
      <div class="category-filter">
        <select id="category-selection"
                class="search-field"
                data-bind="options: categories,
                           optionsCaption: 'Categories',
                           value: chosenCategory,
                           event: {change: categorySearch}">
        </select>
      </div>

      <div class="location-filter">
        <select id="location-selection"
                class="search-field"
                data-bind="options: locationList,
                           optionsText: 'title',
                           optionsCaption: 'All Locations',
                           value: chosenLocation,
                           event: {change: locationSelection}">
        </select>
      </div>

      <div class="poi-filter">
        <select id="location-selection"
                class="search-field"
                data-bind="options: poiCategories,
                           optionsCaption: 'Points of Interest',
                           value: chosenPOI,
                           event: {change: poiCategorySearch}">
        </select>
      </div>
    </div>
    <!--<div class="hide-panels-btn" data-bind="text: togglePanelsText"></div>-->
    <div class="directions-btn" data-bind="visible: togglePanels">Directions</div>

    <div class="top-pane" data-bind="visible: togglePOIPanelLocationList">
      <ul class="panel-list" data-bind="foreach: POIPanelLocationList, visible: togglePOIPanelLocationList">
        <li id="panel-company" class="panel-list-item"
            data-bind="text: title, click: $parent.poiSelection">
      </ul>
    </div>
    <div class="top-pane" data-bind="visible: toggleBizPanelLocationList">
      <ul class="panel-list" data-bind="foreach: bizPanelLocationList, visible: toggleBizPanelLocationList">
        <li id="panel-company" class="panel-list-item"
            data-bind="text: title, click: $parent.bizSelection">
      </ul>
    </div>
    <div class="bottom-pane-biz" data-bind="visible: toggleInfoPanelBiz">
      <div class="logo-container">
        <img class="location-logo" data-bind="attr: {src: locationLogo}"></img>
      </div>
      <div class="location-info">
        <p class="location-info-text-title" data-bind="text: locationName"></p>
        <p class="location-info-text-address" data-bind="text: locationAddress"></p>
        <p class="location-info-text-phone" data-bind="text: locationPhone"></p>
        <div class="location-website-btn" data-bind="click: openWesite">Visit Website</div>
        <div class="location-zoom-btn" data-bind="click: zoomLocation, text: zoomButtonText"></div>
      </div>
      <img class="location-ad" data-bind="attr: {src: locationAd}">
    </div>

    <div class="bottom-pane-POI" data-bind="visible: toggleInfoPanelPOI">
      <div class="location-info">
        <p class="location-info-text-title" data-bind="text: locationName"></p>
        <p class="location-info-text-address" data-bind="text: locationAddress"></p>
        <p class="location-info-text-phone" data-bind="text: locationPhone"></p>
        <div class="location-website-btn" data-bind="click: openWesite">Visit Website</div>
        <div class="location-zoom-btn" data-bind="click: zoomPOI, text: zoomButtonText">Zoom</div>
      </div>
    </div>

    <script src="static/js/cminc_js/libs/knockout-3.2.0.js"></script>
    <script src="static/js/cminc_js/libs/jquery.min.js"></script>
    <script src="static/js/cminc_js/locations.js"></script>
    <script src="static/js/cminc_js/model.js"></script>
    <script src="static/js/cminc_js/points_of_interest.js"></script>
    <script src="static/js/cminc_js/app.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2TAmyKPBNc2JHtEjaEtIezSSSg6_R4zk&libraries=places,drawing,geometry&v=3&callback=initMap"
      onerror="googleMapsFail()">
    </script>
  </body>
</html>
