<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/tz.png">
    <link rel="image_src" href="../static/img/tz.png">
    <meta property="og:title" content="Tim Zander's Portfolio">
    <meta property="og:image" content="http://timzander.com/static/img/og_tz.png">
    <meta property="og:description"
          content="View Tim's professional story, featured works, and contact information">
    <meta property="og:url" content="www.timzander.com">
    <title>Reach Tim</title>
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <img class="background-img" src="../static/img/contact_background.png">
    <div class="connect-container">
      <div class="information-container">
        <div class="info-box-header" data-bind="text: infoBoxHeader"></div>
        <div class="info-box-data" data-bind="text: infoBoxData"></div>
      </div>
      <span class="contact-options-container">
        <div>
          <a href="https://linkedin.com/in/timothyzander">
            <img class="linkedin-img" src="../static/img/linkedin_thumbnail.png">
          </a>
        </div>
        <div data-bind="click: changeConnectInfo" id="email" class="email-img">Email</div>
        <div data-bind="click: changeConnectInfo" id="phone" class="phone-img">Phone</div>
      </span>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
