<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/tz.png">
    <title>Tim's Featured Work</title>
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="work-selector-container" data-bind="foreach: featuredWorkList">
      <h3
        id="selector-title" class="selector"
        data-bind="text: title,
                   click: $parent.changeFeaturedWork,
                   css: {'underlined-selector': title == $parent.selectedWork()}">
      </h3>
    </div>
    <div class="work-container">
      <div class="image-container">
        <img class="work-img" data-bind="attr: {src: selectedWorkImg}">
      </div>
      <div class="element-break"></div>
      <div class="work-description-container">
        <h1
          class="work-description-title" data-bind="text: selectedWorkHeader">
        </h1>
        <div
          class="work-description-text" data-bind="text: selectedWorkDescription">
        </div>
        <div data-bind="foreach: selectedWorkLanguages">
          <span><img class="language-img" data-bind="attr: {src: path}"></span>
        </div>
      </div>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
