<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Tim Zander Portfolio</title>
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="work-container">
      <div class="image-container">
        <img class="work-img" src="../static/img/catalog_app1.png">
      </div>
      <div class="element-break"></div>
      <div class="work-description-container">
        <h1 class="work-description-title">Editable Catalog with User Authentication</h1>
        <div id="catalog-description" class="work-description-text"></div>
      </div>
    </div>
    <div class="work-container">
      <div class="image-container">
        <img class="work-img" src="../static/img/google_mapsAPI.png">
      </div>
      <div class="element-break"></div>
      <div class="work-description-container">
        <h1 class="work-description-title">Interactive Google Maps API Application</h1>
        <div id="google-maps-description" class="work-description-text"></div>
      </div>
    </div>
    <div class="work-container">
      <div class="image-container">
        <img class="work-img" src="../static/img/catalog_app1.png">
      </div>
      <div class="element-break"></div>
      <div class="work-description-container">
        <h1 class="work-description-title">Logs Analysis</h1>
        <div id="logs-analysis-description" class="work-description-text"></div>
      </div>
    </div>
    <div class="work-container">
      <div class="image-container">
        <img class="work-img" src="../static/img/catalog_app1.png">
      </div>
      <div class="element-break"></div>
      <div class="work-description-container">
        <h1 class="work-description-title">Linux Server Configuration</h1>
        <div id="linux-description" class="work-description-text"></div>
      </div>
    </div>
    <script src="../static/js/libs/jquery.min.js"></script>
    <script src="../static/js/libs/typeit.min.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
