<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Tim Zander Portfolio</title>
  </head>
  <body>
    <div class='nav-bar'>
      <span class="nav-link">
        <a href="{{url_for('showFeaturedWork')}}">Featured Work</a>
      </span>
      <span class="nav-link">My Story</span>
      <span class="nav-link">Reach Out</span>
      <span class="social-link">
        <a href="https://www.linkedin.com/in/timothyzander/">
        <img class="social-link-1" src="../static/img/linked_in.png"></a>
      </span>
      <span>
        <a href="https://github.com/tzndr">
        <img class="social-link-2" src="../static/img/github.png"></a>
      </span>
    </div>
  </body>
</html>
