<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Tim Zander Portfolio</title>
  </head>
  <body>
    <div class="typewriter heading-container">
      <div class="type-it heading"></div>
       <div class="retype heading"></div>
      <img class="background-img" src="../static/img/main_img.jpg">
    </div>
    <script src="../static/js/libs/typeit.min.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
