<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/interactive_map_style.css">
    <title>Silicon Valley Interactive Map</title>
  </head>
  <body>
    <div id="map" class="map-canvas"></div>
    <button class="hide-panel-btn"
            data-bind="click: togglePanel, text: showHidePanelText"></button>
    <button id="show-companies"
            class="show-companies-btn"
            data-bind="click: showHideCompanies, text: showHideCompaniesText">
    </button>
    <button id="drawing-tools"
            class="drawing-btn"
            data-bind="click: toggleDrawingTools, text: drawingModeText">
    </button>
    <a href="{{url_for('showFeaturedWork')}}">
      <button class="return-btn box-shadow">
        <img src="../static/img/tz.png" class="logo">
      </button>
    </a>
    <div id="floating-panel-main" class="main-panel box-shadow"
         data-bind="visible: showHideMainPanel">
      <img class="main-img" src="static/img/interactive_map_img/siliconvalley.jpeg" alt="Silicon Valley Banner">
      <p class="panel-filter-text">Filter by Category</p>
      <select id="category-selection"
              class="search-field"
              data-bind="options: categories,
                         value: chosenCategory,
                         event: {change: categorySearch}">
      </select>
      <hr class="panel-hr">
      <ul class="panel-list" data-bind="foreach: panelCompanyList">
        <li id="panel-company" class="panel-list-item" data-bind="text: name, click: $parent.panelCompanySelection">
      </ul>
    </div>
    <div id="floating-panel-info" class="info-panel box-shadow"
         data-bind="visible: showHideInfoPanel">
      <img class="company-logo" data-bind="attr: {src: companyLogo}" alt="Company Logo">
      <hr class="panel-hr">
      <div data-bind="text: companyAddress" class="address"></div>
      <hr class="panel-hr">
      <div>
        <img class="news-img" src="static/img/interactive_map_img/wikilogo.png" alt="Wikipedia Logo">
        <p class="link-text">Links</p>
      </div>
      <select id="company-info-wiki" class="article-dropdown"
              data-bind="options: wikiLinks,
                         optionsText: 'title',
                         value: chosenWiki,
                         optionsCaption: 'Select...',
                         event: {change: followWikiLink}">
      </select>
      <hr class="panel-hr">
      <div>
        <a href="http://developer.nytimes.com"><img class="news-img" src="static/img/interactive_map_img/nytlogo.png"
           alt="NYT Logo"></a>
        <p class="link-text">Articles</p>
      </div>
      <select id="company-info-nytimes" class="article-dropdown"
              data-bind="options: nytLinks,
                         optionsText: 'headline',
                         value: chosenNYT,
                         optionsCaption: 'Select...',
                         event: {change: followNYTLink}">
      </select>
      <hr class="panel-hr" data-bind="visible: zoomButtonStatus">
      <button class="zoom-pan-btn" data-bind="click: showSingleCompany, visible: zoomButtonStatus, text: zoomButtonText"></button>
    </div>
    <script src="static/js/interactive_map_js/libs/knockout-3.2.0.js"></script>
    <script src="static/js/interactive_map_js/libs/jquery.min.js"></script>
    <script src="static/js/interactive_map_js/locations.js"></script>
    <script src="static/js/interactive_map_js/app.js"></script>
    <script async defer
        src=
        "https://maps.googleapis.com/maps/api/js?key=AIzaSyD2TAmyKPBNc2JHtEjaEtIezSSSg6_R4zk&libraries=places,drawing,geometry&v=3&callback=initMap"
        onerror="googleMapsFail()">
    </script>
  </body>
</html>
