<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/tz.png">
    <link rel="image_src" href="../static/img/tz.png">
    <meta property="og:title" content="Tim Zander's Portfolio">
    <meta property="og:image" content="http://timzander.com/static/img/og_tz.png">
    <meta property="og:description"
          content="View Tim's professional story, featured works, and contact information">
    <meta property="og:url" content="www.timzander.com">
    <title>Tim's Story</title>
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="story-container">
      <span class="story-text-container">
        <div class="quote-text" data-bind="text: storyQuote"></div>
        <div class="story-text" data-bind="text: myStory"></div>
        <div class="story-text" data-bind="text: myStory2"></div>
      </span>
      <span class="story-img-container">
        <img class="story-img" src="../static/img/story_img.jpg">
      </span>
    </div>
    <div>
      <a href="https://www.udacity.com/">
        <img class="udacity-img" src="../static/img/udacity_alumni.png">
      </a>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
