<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="add-blog-post-container">
      <h1 class="add-blog-post-title">Add New Blog Post</h1>
      <form class="add-blog-post-form" action="{{url_for('newBlogPost')}}" method="POST">
        <input class="add-blog-input"
               placeholder="Article Title"
               name="title"
               required>
        <input class="add-blog-input"
               placeholder="Subtitle"
               name="subtitle"
               required>
        <input class="add-blog-input"
               placeholder="Author Name"
               name="authorName"
               value="Tim Zander"
               required>
        <input class="add-blog-input"
               placeholder="Author Img Path (../static/img/blog/)"
               name="authorImg"
               value="../static/img/blog/headshot.jpg"
               required>
        <input class="add-blog-input"
               placeholder="Author Description"
               name="authorDescription"
               value="I help businesses and entrepreneurs solve problems through modern web-based software, application, and site development."
               required>
        <input class="add-blog-input"
               placeholder="Main Img Path (../static/img/blog/)"
               name="mainImg"
               value=""
               required>
        <input class="add-blog-input"
               placeholder="Publish Date"
               name="date"
               required>
        <input class="add-blog-input"
               placeholder="Category"
               name="category"
               value="">
        <div class="add-blog-post-input-wrapper">
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_1"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 1 (optional)"
                 name="body_header_1">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 1"
                    name="body_1"
                    required></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_2"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 2 (optional)"
                 name="body_header_2">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 2 (optional)"
                    name="body_2"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_3"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 3 (optional)"
                 name="body_header_3">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 3 (optional)"
                    name="body_3"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_4"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 4 (optional)"
                 name="body_header_4">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 4 (optional)"
                    name="body_4"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_5"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 5 (optional)"
                 name="body_header_5">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 5 (optional)"
                    name="body_5"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_6"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 6 (optional)"
                 name="body_header_6">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 6 (optional)"
                    name="body_6"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_7"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 7 (optional)"
                 name="body_header_7">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 7 (optional)"
                    name="body_7"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_8"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 8 (optional)"
                 name="body_header_8">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 8 (optional)"
                    name="body_8"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_9"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 9 (optional)"
                 name="body_header_9">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 9 (optional)"
                    name="body_9"></textarea>
          <input class="add-blog-input-header"
                 placeholder="Image File Path(../static/img/blog/)"
                 name="img_10"
                 value="">
          <input class="add-blog-input-header"
                 placeholder="Paragraph Header 10 (optional)"
                 name="body_header_10">
          <textarea class="add-blog-input-body"
                    placeholder="Paragraph 10"
                    name="body_10"></textarea>
        </div>
        <div class="add-blog-btn-wrapper">
          <input class="add-blog-submit-btn" type="submit" value="Post">
          <a href="{{url_for('showBlog')}}" class="add-blog-cancel-btn">Cancel</a>
        </div>
      </form>
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
