<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' type='text/css' href="{{url_for('static',
      filename='../static/css/catalog_style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% block content %}
      {% include "catalog_header.html" %}
    {%endblock%}

    <div class="main-category-container box-shadow">
      <div class="main-heading">
        <p class="public-all-cats-title">All Categories</p>
      </div>
      {%for category in categories%}
        <div class="main-items">
          <a href="{{url_for('showProducts', category_id=category.id)}}">
            <p class="main-text">{{category.name}}</p></a>
        </div>
      {%endfor%}
    </div>
      <div class="recent-container box-shadow">
        <p class="recent-title">Recently Added Products</p>
        {%for product in recent_products%}
          <div class="product-items">
            <a href="{{url_for('detailProduct', category_id=product.category.id,
              item_id=product.id)}}">
              <p class="product-name-text">{{product.name}}</p>
              <img class="product-img" src="{{product.image}}">
              <p class="product-price-text">{{product.price}}<p>
            </a>
          </div>
        {%endfor%}
      </div>
    </div>
  </body>
</html>
