<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/tz.png">
    <link rel="image_src" href="../static/img/tz.png">
    <meta property="og:title" content="Tim Zander's Blog">
    <meta property="og:image" content="../static/img/tz.png">
    <meta property="og:description"
          content="Articles from Tim Zander">
    <meta property="og:url" content="www.timzander.com/blog">
    <title>Tim Zander Blog</title>
  </head>
  <body>
    {% block content %}
      {% include "header.html" %}
    {% endblock %}
    <div class="blog-thumbnail-container">
      {%for post in posts%}
        <a href="{{url_for('readBlogPost', blogPost_id=post.id)}}">
          <div class="blog-thumbnail">
            <p class="blog-thumbnail-header">{{post.title}}</p>
            <img class="blog-thumbnail-img" src="{{post.mainImg}}">
            <p class="blog-thumbnail-date">{{post.date}}</p>
          </div>
        </a>
      {%endfor%}
    </div>
    <script src="../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../static/js/model.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
