<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
  </head>
  <body>
    {% block content %}
      {% include "header_deep.html" %}
    {% endblock %}
    {%with messages = get_flashed_messages()%}
      {%if messages%}
        {%for message in messages%}
          <div id="flash-message" class="flash">
            {{message}}
          </div>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <article class="blog-container">
      <header>
        <h1 class="blog-title">{{selected_post.title}}</h1>
        <h2 class="blog-subtitle">{{selected_post.subtitle}}</h2>
        <div class="blog-details-wrapper">
          <div class="blog-author-info-wrapper">
            <img class="blog-author-img" src="../{{selected_post.authorImg}}">
            <div class="blog-author-img-name-wrapper">
              <p class="blog-author-name">By: {{selected_post.authorName}}</p>
              <p class="blog-author-description">{{selected_post.authorDescription}}</p>
            </div>
          </div>
          <div class="blog-date-cat-wrapper">
            <time class="blog-date-cat">Published: {{selected_post.date}}</time>
            <hr class="blog-post-pub-cat-hr">
            <p class="blog-date-cat">Filed under: {{selected_post.category}}</p>
          </div>
        </div>
        <img class="blog-main-img" src="../{{selected_post.mainImg}}">
      </header>
      <h3 class="blog-body-header">{{selected_post.body_header_1}}</h3>
      {%if selected_post.img_1%}
        <img class="blog-img" src="../{{selected_post.img_1}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_1}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_2}}</h3>
      {%if selected_post.img_2%}
        <img class="blog-img" src="../{{selected_post.img_2}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_2}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_3}}</h3>
      {%if selected_post.img_3%}
        <img class="blog-img" src="../{{selected_post.img_3}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_3}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_4}}</h3>
      {%if selected_post.img_4%}
        <img class="blog-img" src="../{{selected_post.img_4}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_4}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_5}}</h3>
      {%if selected_post.img_5%}
        <img class="blog-img" src="../{{selected_post.img_5}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_5}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_6}}</h3>
      {%if selected_post.img_6%}
        <img class="blog-img" src="../{{selected_post.img_6}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_6}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_7}}</h3>
      {%if selected_post.img_7%}
        <img class="blog-img" src="../{{selected_post.img_7}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_7}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_8}}</h3>
      {%if selected_post.img_8%}
        <img class="blog-img" src="../{{selected_post.img_8}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_8}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_9}}</h3>
      {%if selected_post.img_9%}
        <img class="blog-img" src="../{{selected_post.img_9}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_9}}</p>
      <h3 class="blog-body-header">{{selected_post.body_header_10}}</h3>
      {%if selected_post.img_10%}
        <img class="blog-img" src="../{{selected_post.img_10}}">
      {%endif%}
      <p class="blog-body">{{selected_post.body_10}}</p>
    </article>
    <div class="edit-delete-blog-btn-wrapper">
      <a class="blog-post-edit-btn" href="{{url_for('editBlogPost', blogPost_id=selected_post.id)}}">Edit</a>
      <a class="blog-post-delete-btn" href="{{url_for('deleteBlogPost',
        blogPost_id=selected_post.id)}}">Delete</a>
    </div>
    <script src="../../static/js/libs/knockout-3.2.0.js"></script>
    <script src="../../static/js/model.js"></script>
    <script src="../../static/js/app.js"></script>
    <script src="../../static/js/libs/jquery.min.js"></script>
    <script>
      $(function() {
        $('#flash-message').delay(500).fadeIn('normal', function() {
          $(this).delay(5000).fadeOut();
        });
      });
    </script>
  </body>
</html>
